#footer-container {
  background-color: #13340c;
  font: 400 13px/1.8 Montserrat, sans-serif;
  letter-spacing: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  color: #458d21;
  margin: 0px;
  padding: 30px;
  text-align: center;
  font-size: 13px;
}
