<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img id="company_image" src="http://localhost:3000/images/logo-rate-mate.png"/>
    </div>
    <div id="menu">
      <ul class="nav navbar-nav">
        <li [class.active]="router.url==='/'"><a routerLink="/">HOME</a></li>
        <li [class.active]="router.url==='/products'"><a routerLink="/products">PRODUCTS</a></li>
        <li [class.active]="router.url==='/add-product'"><a routerLink="/add-product">ADD PRODUCT</a></li>
      </ul>
    </div>
  </div>
</nav>
