<body>
<div class="container">
  <h2>
    Add new product
  </h2>
  <form class="add_product_form">
    <div class="form-group">
      <label for="description">Name:</label>
      <input class="form-control add_product_form" [(ngModel)]="name" rows="5" id="name"
             [ngModelOptions]="{standalone: true}">
      <br>
      <input class="form-control add_product_form" type="file" ng2FileSelect [uploader]="uploader"/>

      <br>
      <label for="description">Description:</label>
      <textarea class="form-control add_product_form" [(ngModel)]="description" rows="5" id="description"
                [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <button type="submit" id="submit_button" class="btn btn-success" (click)="upload()">Submit</button>
  </form>
</div>
</body>
