<body>
<div class="container product-container" (click)="onProductClicked(i)"
     infiniteScroll
     [infiniteScrollDistance]="100"
     [infiniteScrollThrottle]="1500"
     (scrolled)="onScroll()"
     *ngFor="let product of products, let i = index">
  <div class="list_item">
    <img *ngIf="!boolVariables[i]" class="item_accordion" [src]="product.imagePath">
    {{product.name}}
  </div>
  <div></div>
  <div class="accordion_item" *ngIf="boolVariables[i]">
    <div class="div_image">
      <img [src]="product.imagePath">
    </div>
    <br>
    <div class="div_description">
      {{product.description}}
    </div>
  </div>
</div>
</body>
