body {
  font: 400 13px/1.8 Montserrat, sans-serif;
  letter-spacing: 4px;
  color: #13340c;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/upfeathers.png");
}

div {
  text-align: center;
  background-color: #458d21;
  border: none;
}

.list_item {
  background-color: #13340c;
  color: #458d21;
  border: 5px;
  border-color: #2e4617;
  border-radius: 3px;
  alignment: center;
  padding: 25px 25px 25px 25px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list_item img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

.div_description {
  text-align: center;
  background: #deecc6;
  padding: 15px;
  alignment: center;
  word-wrap: break-word;      /* IE */
}

.product-container{
  padding:20px 20px 20px 20px;
  alignment: center;
  border-width: 10px;
  border-color: #cfff44;
}

.accordion_item {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  alignment: center;
  width: 70%;
  transition: max-height 0.2s ease-out;
}
