<body>
<div class="container product-container" (click)="onProductClicked(i)"
     infiniteScroll
     [infiniteScrollDistance]="100"
     [infiniteScrollThrottle]="1500"
     (scrolled)="onScroll()"
     *ngFor="let product of products, let i = index">
  <div class="list_item">
    <img *ngIf="!boolVariables[i]" class="item_accordion" [src]="product.imagePath">
    <p>{{product.name}}</p>
  </div>
  <div class="accordion_item" *ngIf="boolVariables[i]">
    <div class="div_image">
      <img [src]="product.imagePath">
    </div>
    <br>
    <div class="div_description">
      {{product.description}}
      <br>
      <br>
      <label>Dust rating:</label>
      {{product.dustRating}}
      <br>
      <label>Power rating:</label>
      {{product.powerRating}}
      <br>
      <label>Taste rating:</label>
      {{product.tasteRating}}
    </div>
  </div>
</div>
</body>
