body {
  font: 400 13px/1.8 Montserrat, sans-serif;
  letter-spacing: 4px;
  color: #13340c;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/upfeathers.png");
}

.list_item {
  background-color: #13340c;
  color: #458d21;
  padding: 0px 20px 0px 20px;
  font-size: 18px;
}

.product-container{
  padding:20px 0px 30px 0px;
  width: 100%;
  font-size: 15px;
  margin-left: 0%;
  margin-right: 0%;
}

.accordion_item {
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.item_accordion {
  width: 300px;
  height: auto;
}
