<body>

<div id="first_parallax"></div>

<div class="container elem" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);display: inline-block;background-color:#458d21;font-size:15px;padding: 25px;text-align: center">
  Yerba mate, herba mate, mate (mate), także znany jako chimarrão (ʃimaˈʁɐ̃w̃), erva mate, indiańskie caá mati, caá mate
  – wysuszone, zmielone liście oraz patyczki ostrokrzewu paragwajskiego, niekiedy również świeże, przygotowane do
  robienia naparu popularnego głównie w krajach Ameryki Południowej (Argentynie, Paragwaju, Urugwaju, Brazylii), także w
  niektórych krajach Bliskiego Wschodu, głównie w Syrii i Libanie.
  <br>
  <br>
  Nazwa yerba mate, wymyślona najprawdopodobniej przez jezuitów, pochodzi od przekształconego łacińskiego słowa herba –
  ziele i mati co w języku keczua oznacza tykwę, w której parzy się ziele. Indiańska nazwa naparu to caá.
  <br>
  <br>
  Zawartość mateiny jest inna w różnych gatunkach yerby. Waha się ona od 0,7 do 2 procent.
  <div class="overlay">
    <div class="text"><p style="color:#87b02d;font-size: 20px;">CO TO JEST YERBA MATE?</p></div>
  </div>
</div>

<div id="second_parallax"></div>

<div class="container elem"
  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);color:#458d21;display: inline-block;background-color:#024814;font-size:15px;padding: 25px;text-align: center">
  <br>
  Badania sfinansowane przez argentyński Narodowy Instytut Yerba Mate (INYM) dowodzą, że napar z yerba mate jest ważnym
  źródłem polifenoli, które są substancjami o właściwościach przeciwutleniających (antyoksydanty)[potrzebny przypis],
  podobne wyniki przyniosły też polskie badania.
  <br>
  <br>
  W 2008 r. opublikowano wyniki badania wpływu wodnych ekstraktów yerba mate na myszy, u których nie stwierdzono
  genotoksycznego wpływu yerba mate na wątrobę, nerki i pęcherz moczowy. Badanie wykazało, iż regularne przyjmowanie
  yerba mate poprawia odporność DNA na uszkodzenia wywołane nadtlenkiem wodoru oraz naprawę DNA po ekspozycji komórek
  wątroby na nadtlenek wodoru, niezależnie od dawki yerba mate.
  <br>
  <br>
  Wykazano, iż yerba mate ma działanie obniżające poziom cholesterolu, ochronne wobec komórek wątroby, stymulujące
  ośrodkowy układ nerwowy, moczopędne i korzystne wobec układu krążenia. Stosowanie yerba mate sugeruje się w leczeniu
  otyłości. Yerba mate chroni DNA przed oksydacją i wywołaną in vitro lipoperoksydacją cząsteczek LDL oraz ma silne
  zdolności antyoksydacyjne. W badaniu na szczurach wykazano ochronny wpływ yerba mate przed otyłością indukowaną
  wysokotłuszczową dietą.
  <div class="overlay">
    <div class="text"><p style="color:#87b02d;font-size: 20px;">JAKI JEST JEJ WPŁYW NA ZDROWIE?</p></div>
  </div>
</div>

<div id="third_parallax">

</div>
</body>
